.breadcrumb {
  font-size: 14px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.breadcrumb__list {
  display: flex;
  column-gap: 20px;
  list-style: none;
  padding-left: 0;
}


.breadcrumb__item {
  color: #999;
  position: relative;
}

.breadcrumb__item:not(:last-child):after {
  font-weight: 600;
  display: block;
  content: ">";
  position: absolute;
  top: 0;
  right: -15px;
}

.breadcrumb__item:last-child {
  font-weight: 600;
}