.loading-screen {
  height: calc(100vh - 58px);
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background: linear-gradient(-90deg, #fff 25%, #e5e5e5 50%, #fff 75%);
  background-size: 200% 100%;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
