.pdp-container {
  padding: 2rem 2rem 1rem;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.pdp-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 1rem;
}

.pdp-col-1 {
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
}

.pdp-col-2 {
  flex-basis: 0%;
  flex-grow: 2;
  flex-shrink: 1;
}

.pdp-col-3 {
  flex-basis: 0%;
  flex-grow: 3;
  flex-shrink: 1;
}

.pdp-subtitle {
  margin-bottom: 16px;
}

.pdp-subtitle-content {
  color: #999;
  font-size: 14px;
}

.pdp-price {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  column-gap: 1rem;
  align-items: center;
}
