.product-image-containter {
  box-sizing: content-box;
  margin: 0;
  padding: 0 16px;
}

.product-image {
  box-sizing: content-box;
  flex-shrink: 0;
  margin: 0;
  object-fit: contain;
  object-position: center;
}
